body {
  background-color: rgb(0, 0, 0);
  font: 300 27px/2.68 Raleway;
  color: rgb(255, 255, 255);
}

.about {
  display: block;
  position: absolute;
  top: 0;
  right: 9%;
  z-index: 10;
  width: 3.75%;
  height: 51px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 3.10;
  text-align: center;
  color: rgb(255, 255, 255);
}

.background {
  position: absolute;
  top: 332px;
  left: 0;
  right: 0;
  z-index: 1;
  width: 79.9166666666%;
  height: 2905px;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 -3px 30px 10px rgba(0, 0, 0, 0.9);
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 968px;
  margin: 0 auto;
  background-image: url('../images/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.home {
  display: block;
  position: absolute;
  top: 7px;
  left: 0.5%;
  z-index: 8;
  width: 3.3333333333%;
  height: 39px;
  background-image: url('../images/logo-new(2).png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.memecentral {
  display: block;
  position: absolute;
  top: 0;
  right: 12.75%;
  z-index: 11;
  width: 8.1666666666%;
  height: 51px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 3.10;
  text-align: center;
  color: rgb(255, 255, 255);
}

.plebhub {
  display: block;
  position: absolute;
  top: 0;
  right: 20.9166666666%;
  z-index: 12;
  width: 5.25%;
  height: 51px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 3.10;
  text-align: center;
  color: rgb(255, 255, 255);
}

.plebwiki {
  display: block;
  position: absolute;
  top: 0;
  right: 26.1666666666%;
  z-index: 13;
  width: 5.4166666666%;
  height: 51px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 3.10;
  text-align: center;
  color: rgb(255, 255, 255);
}

.social {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  width: 9%;
  height: 51px;
  border-radius: 3px;
  font-size: 15px;
  line-height: 3.10;
  text-align: center;
  color: rgb(255, 255, 255);
}

.about:hover,
.memecentral:hover,
.plebhub:hover,
.plebwiki:hover,
.social:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.subtitle {
  position: absolute;
  top: 411px;
  left: 0;
  right: 0;
  z-index: 3;
  width: 25.69140625%;
  min-height: 28px;
  margin: 0 auto;
  font: 16px/1.38 Roboto;
  text-align: center;
  color: rgb(255, 255, 255);
}

.subtitle p {
  margin-bottom: 1em;
}

.title {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 79px;
  margin: 0 auto;
  text-align: center;
  color: rgb(255, 255, 255);
}

.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  width: 66.3333333333%;
  height: 720px;
  margin: 0 auto;
  overflow: hidden;
}

._container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 14;
  width: 100%;
  height: 51px;
  background-color: rgba(0, 0, 0, 0.63);
}

._container:hover {
  background-color: rgba(15, 15, 15, 0.63);
}

.title-1 {
  top: 1649px;
  z-index: 6;
  width: 32.5833333333%;
  font-weight: 100;
}

.title-2 {
  top: 688px;
  z-index: 4;
  width: 32.5833333333%;
  font-weight: 100;
}

.title-3 {
  top: 332px;
  z-index: 2;
  width: 27.2265625%;
  font-size: 28px;
}

.wrapper-1 {
  top: 1734px;
  z-index: 7;
}

.wrapper-2 {
  top: 767px;
  z-index: 5;
}